#about{
    position: relative;
    .container , .row{
        height: 100%;
    }
    .bg-aquar{
            background: {
            image: url('../images/home/bg-water.jpg');
            size: cover;
            repeat: no-repeat;
        } 
        height: 100%;
    }
    .text-detail{
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: center;
        padding: 2rem;
        background: #3f51b5a8;
        position: relative;
        z-index: 1;
        h1{
            font: {
                size: 4rem;
                family: $font-family-sans-serif;
                weight: 500;
            }
            line-height: 6rem;
            color: #00ffff;
        }
        p{
            font: {
                size: 2.4rem;
                family: $font-family-sans-serif;
            }
            line-height: 3rem;
            color: #ffffff;
        }
        a{
            color: #00ffff;
        }
    }
    .fish{
        margin-bottom: 5rem;
    }
    @include media-breakpoint-down(xs) { 
        .text-detail{
            margin-top: 2rem;
            h1{
                font: {
                    size: 3rem;
                }
                line-height: 3.5rem;
            }
            p{
                font: {
                    size: 2rem;
                }
                line-height: 2.4rem;
            }
        }
    }
}