#contact{
    position: relative;
    .container , .row{
        height: 100%;
    }
    .wrap-center{
        align-items: center;
        display: flex;
    }
    .bg-aquar{
            background: {
            image: url('../images/home/bg-water.jpg');
            size: cover;
            repeat: no-repeat;
        } 
        height: 100%;
    }
    .sand{
        position: absolute;
        width: 100%;
        height: 25%;
        bottom: 0;
        background: {
            image: url('../images/home/bg-sand-1.jpg');
            size: cover;
            repeat: no-repeat;
        }
    }
    .treasure{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        height: 70%;
        z-index: 1;
        img{
            height: 100%;
        }
    }
    .seaweed-1{
        position: absolute;
        bottom: 0;
        left: 30%;
        height: 30%;
        img{
            height: 100%;
        }
    }
    .text-detail{
        padding: 2rem;
        background: #3f51b5a8;
        position: relative;
        z-index: 1;
        h1{
            font: {
                size: 4rem;
                family: $font-family-sans-serif;
                weight: 500;
            }
            line-height: 6rem;
            color: #00ffff;
        }
        p{
            margin-top: -1.5rem;
            color: #FFF;
            font: {
                size: 2rem;
                family: $font-family-sans-serif;
                weight: 500;
            }
        }
        ul{
            color: #FFF;
            li{
                font: {
                    size: 2rem;
                    family: $font-family-sans-serif;
                    weight: 500;
                } 
            }
        }
        a{
            color: #00ffff;
        }
    }
    .fish-1{
        position: absolute;
        top: 10%;
        left: 10%;
        height: 50%;
        img{
            height: 100%;
        }
    }
    .fish-2{
        position: absolute;
        bottom: 10%;
        right: 30%;
        height: 50%;
        img{
            height: 100%;
        }
    }
    @include media-breakpoint-down(xs) { 
        .text-detail{
            h1{
                font: {
                    size: 3rem;
                }
                line-height: 3rem;
            }
            p{
                margin-top: 0;
            }
            ul{
                li{
                    font: {
                        size: 2rem;
                    }
                    line-height: 2.4rem;
                }
            }
        }
        .treasure{
            height: 100%;
            img{
                height: 100%;
            }
        }
    }
}