#home{
    position: relative;
    .container , .row{
        height: 100%;
    }
    .bg-aquar{
            background: {
            image: url('../images/home/bg-water.jpg');
            size: cover;
            repeat: no-repeat;
        } 
        height: 100%;
    }
    .text-detail{
        padding: 2rem;
        background: #3f51b5a8;
        position: relative;
        z-index: 1;
        h1{
            font: {
                size: 4rem;
                family: $font-family-sans-serif;
                weight: 500;
            }
            line-height: 5rem;
            color: #00ffff;
        }
        p{
            font: {
                size: 2.4rem;
                family: $font-family-sans-serif;
            }
            line-height: 4rem;
            color: #ffffff;
        }
        a{
            color: #00ffff;
        }
    }
    .wrap-center{
        align-items: center;
        display: flex;
    }
    .mascot{
        position: relative;
        z-index: 1
    }
    .sand{
        position: absolute;
        width: 100%;
        height: 25%;
        bottom: 0;
        background: {
            image: url('../images/home/bg-sand-1.jpg');
            size: cover;
            repeat: no-repeat;
        }
    }
    .seaweed{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50%;
        img{
            height: 100%;
        }
    }
    .seaweed-1{
        position: absolute;
        bottom: 0;
        left: 30%;
        height: 30%;
        img{
            height: 100%;
        }
    }
    .fish-1{
        position: absolute;
        top: 10%;
        left: 10%;
        height: 50%;
        img{
            height: 100%;
        }
    }
    .fish-2{
        position: absolute;
        bottom: 10%;
        right: 10%;
        height: 50%;
        img{
            height: 100%;
        }
    }

    @include media-breakpoint-down(xs) { 
        .fish-1{
            display: none;
        }
        .fish-2{
            display: none;
        }
        .seaweed-1{
            display: none;
        }
        .text-detail{
            margin-top: 2rem;
            h1{
                font: {
                    size: 3rem;
                }
                line-height: 3.5rem;
            }
            p{
                font: {
                    size: 2rem;
                }
                line-height: 2.4rem;
            }
        }
    }
}