#work{
    @keyframes slide {
        0% {
            left: 0;
        }
        25% {
            left: -5%;
        }
        50% {
            left: 0%;
        }
        100% {
            left: -5%;
        }
    }

    overflow: hidden;
    position: relative;
    .container , .row{
        height: 100%;
    }
    .bg-wave{
            background: {
            image: url('../images/work/wave.png');
            size: contain;
            repeat: repeat-x;
            position: 0;
        }
        width: 110%;
        padding-top: 15%; 
        position: relative;
        animation: slide 10s infinite alternate;
    }
    .bg-aquar{
            background: {
            color: #49a7c1;
            size: cover;
            repeat: no-repeat;
        } 
        height: 100%;
        padding-bottom: 5%;
    }
    h1{
       font: {
           size: 4rem;
       }
       padding: 5% 0;
    }
    .carousel{
        h5{
            font-size: 2rem;
        }
        p{
            font-size: 1.4rem;
        }
        .bg-caption{
            background: #000000b8;
        }
        .carousel-caption{
            right: 0;
            left: 0;
        }
    }
}