
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'preload';
@import 'menu';
@import 'home';
@import 'about';
@import 'work';
@import 'contact';
@import 'footer';

@import 'seas/welcome';
@import 'seas/home';
@import 'seas/profile';
@import 'seas/skill';
@import 'seas/work';
@import 'seas/contact';

html , body {
  font-size: 10px;
  background: #ffffff;
  
}

body, html {
  height: 100%;
}
