#sea-contact{
    background-image: url('../images/seas/contact/seaweed.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    background-color: #1cbbb4;
    padding-top: 5rem;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    .container{
        height: 100%;
    }
    .label{
        width: 50%;
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        padding: 2rem;
        background: #00000055;
        color: #FFFFFF;
        h1{
			font-family: 'Francois One', sans-serif;
			font-size: 4rem;
		}
		p{
			font-family: 'Francois One', sans-serif;
			font-size: 2rem;
		}
    }

    .bubble{
        position: absolute;
        width: 5%;
    }

    .bubble-1{
        animation: bubble1 10s infinite;
        left: 15%;
    }
    .bubble-2{
        animation: bubble1 15s infinite;
        left: 20%;
    }
    .bubble-3{
        animation: bubble1 20s infinite;
        right: 15%;
    }
    .bubble-4{
        animation: bubble1 25s infinite;
        right: 10%;
    }
    .bubble-5{
        animation: bubble1 30s infinite;
        left: 50%;
    }
    .bubble-6{
        animation: bubble1 10s infinite;
        left: 60%;
    }

    @include media-breakpoint-down(sm) { 
        .label{
            width: 100%;
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 2rem;
            }
        }
    }
    
    @keyframes bubble1 {
        from {top: 1000px;}
        to {top: -100px;}
    }
}
