#sea-home{
	margin-top: 3rem;
	overflow: hidden;
	position: relative;
	float: left;
    width: 100%;
	.mascot{
		z-index: 1;
		float: right;
		position: relative;
		width: 70%;
	}
	.water{
		position: absolute;
	} 
	.water-1{
		bottom: 0;
		z-index: 2;
		animation: slide 10s infinite alternate;
	}
	.water-2{
		bottom: 8%;
		animation: slide 10s infinite alternate;
	}

	@keyframes slide {
        0% {
            left: 0;
        }
        25% {
            left: -5%;
        }
        50% {
            left: 0%;
        }
        100% {
            left: -5%;
        }
	}

	.text-detail{
		width: 50%;
		float: left;
		padding-left: 5rem;
		position: absolute;
		z-index: 3;
		h1{
			font-family: 'Francois One', sans-serif;
			font-size: 4rem;
		}
		p{
			font-family: 'Francois One', sans-serif;
			font-size: 3rem;
		}
	}

	a{
		cursor: pointer;
	}
	

	@include media-breakpoint-down(md) { 
        .text-detail{
			h1{
				font-size: 2.5rem;
			}
			p{
				font-size: 2rem;
			}
		}
	}

	@include media-breakpoint-down(xs) { 
        .text-detail{
			width: 100%;
			position: relative;
			padding-left: 1rem;
		}
		.water-2{
			bottom: 5%;
			animation: slide 10s infinite alternate;
		}
	}
	
	
}
