#sea-profile{
    background: #00bff3;
    padding-top: 5rem;
    float: left;
    width: 100%;
    .blog-change-picture{
        float: right;
        font-size: 3rem;
        color: #FFF;
    }
    .mascot{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .me{
            display: none;
        }
        &.active-me{
            .me{
                display: block;
            }
            .mermaid{
                display: none;
            }
        }
    }
    a{
        cursor: pointer;
    }
    .group-data{
        margin-bottom: 5rem;
        font-family: 'Francois One', sans-serif;
        h1{
            font-size: 3rem;
        }
        b , p {
            font-size: 1.8rem;
        }
        span{
            width: 20%;
            display: inline-block;
        }
    }  
    
    @include media-breakpoint-down(xs) { 
        .mascot{
            width: 50%;
        }
	}
}
