#sea-skill{
    background: #00a99d;
    position: relative;
    float: left;
    width: 100%;
    z-index: 1;
    .turtle{
        position: relative;
        float: left;
        z-index: 2;
        width: 30%;
        margin: 1%;
        @include media-breakpoint-down(sm) { 
            width: 100%;
            margin: 0;
        }
        h1{
            font-family: 'Francois One', sans-serif;
            font-size: 4rem;
            position: absolute;
            top: 40%;
            left: 55%;
            transform: translate(-50%, -50%);
        }
    }
    .text-detail{
        margin: 5rem 0;
        padding: 2rem 1rem;
        background: #ffffff55;
        p{
            font-family: 'Francois One', sans-serif;
            font-size: 3rem;
            text-align: center;
            @include media-breakpoint-down(md) { 
                font-size: 2rem;
            }
        }
    }
    .wrap-turtle{
        margin-bottom: 5rem;
        float: left;
        width: 100%;
    }
}
