#sea-welcome{
	overflow: hidden;
	float: left;
    width: 100%;
  	.bg-sky{
		background-image: linear-gradient(#8ad3ce, #ffffff);
		position: relative;
		height: 100%;
	}
	.cloude{
		width: 50%;
		position: absolute;
	}
	.cloude-1{
		left: -20%;
		top: 10%;
	}
	.cloude-2{
		right: -20%;
		top: 30%;
	}
	.cloude-3{
		bottom: 10%;
		left: -5%;
	}
	.bird{
		width: 5%;
		position: absolute;
	}
	.bird-1{
		top: 10%;
		right: 30%;
	}
	.bird-2{
		top: 40%;
		left: 10%;
	}
	.bird-3{
		bottom: 10%;
		right: 10%;
	}
	.text-title{
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;	
		h1{
			font-family: 'Francois One', sans-serif;
			font-size: 6rem;
		}
	}
	.see-more{
		position: absolute;
		bottom: -100%;
		left: 50%;
		transform: translate(-50%, -50%);
		i{
			font-size: 6rem;
			color: #1cbbb4;
		}
	}
}
