#sea-work{
    position: relative;
    background-image: linear-gradient(#FFF 50%, #fff568 50%);
    padding-bottom: 10rem;
    float: left;
    width: 100%;
    .label{
        width: 50%;
        margin: auto;
        position: relative;
        margin-bottom: 10rem;
        @include media-breakpoint-down(md) { 
            width: 70%;
        }
        @include media-breakpoint-down(sm) { 
            width: 100%;
        }
        h1{
            font-family: 'Francois One', sans-serif;
            font-size: 5rem;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -20%);
            @include media-breakpoint-down(sm) { 
                font-size: 4rem;
            }
        }
    }
    .wrap-shell{
        width: 100%;
        float: left;
        .shell{
            width: 70%;
            position: relative;
            display: flex;
            margin: auto;
            z-index: 1;
            a{
                float: left;
                cursor: pointer;
            }
            span{
                font-family: 'Francois One', sans-serif;
                font-size: 6rem;
                position: absolute;
                bottom: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .seaweed{
        position: absolute;
        width: 20%;
        @include media-breakpoint-up(md) { 
            width: 8%;
        }
    }
    .seaweed-1{
        right: 5%;
        bottom: 20%;
    }
    .seaweed-2{
        left: 5%;
        bottom: 5%;
    }
    #workModal{
        h5{
            font-family: 'Francois One', sans-serif;
            font-size: 3rem;
        }
        .bg-caption{
            margin-top: 2rem;
            h5{
                font-size: 2rem;
            }
            p{
                font-family: 'Francois One', sans-serif;
                font-size: 1.6rem;
            }
        }
        .carousel-indicators{
            bottom: -10px;
            li{
                background-color: #00BCD4;
            }
            .active{
                background-color: #ec008c;
            }
        }
        
        button{
            font-size: 3rem;
        }
        .modal-footer{
            button{
                font-family: 'Francois One', sans-serif;
                font-size: 1.8rem;
            }
        }
    }
}
